<div class="container">

<form [formGroup]="postAddObj" (ngSubmit)="onSubmit(postAddObj.value)">
    <div class="form-group">
            <label>Product Name:</label>
            <input type="text" formControlName="title" class="form-control" >
            <div *ngIf="postAddObj.controls['title'].hasError('required')" class="alert alert-danger"> 
                Please enter the Product Name
            </div>       
            <div *ngIf="postAddObj.controls['title'].hasError('minlength')" class="alert alert-danger"> 
                The Product name must be atleast 5 characters
            </div> 
            <div *ngIf="postAddObj.controls['title'].hasError('maxlength')" class="alert alert-danger"> 
                The Product name must be 20 characters or less
            </div> 
    </div>  
    <div class="form-group">
            <label>Your Name:</label>
            <input type="text" formControlName="name" class="form-control" >  
            <div *ngIf="postAddObj.controls['name'].hasError('required')" class="alert alert-danger"> 
                Please enter your Name
            </div>  
            <div *ngIf="postAddObj.controls['name'].hasError('minlength')" class="alert alert-danger"> 
                The name must be more than 2 characters
            </div>  
    </div>   
    <div class="form-group">
            <label>Category:</label>
            <select formControlName="category" class="form-control" value="Cloths">
                <option *ngFor="let cat of categories">
                {{ cat.name }}
                </option>
            </select> 
            <div *ngIf="postAddObj.controls['category'].hasError('required')" class="alert alert-danger"> 
                Please select a Category
            </div> 
    </div>  
    <div class="form-group">
            <label>Product Description:</label>
            <textarea  rows="4" cols="50" formControlName="description" class="form-control"></textarea>
            <div *ngIf="postAddObj.controls['description'].hasError('required')" class="alert alert-danger"> 
                Please enter a Description
            </div> 
            <div *ngIf="postAddObj.controls['description'].hasError('minlength')" class="alert alert-danger"> 
                Please enter a description of atleast 10 characters like price and features
            </div> 
    </div>  
    <button [disabled]="!postAddObj.valid" type="submit" class="btn btn-primary" (click)="postNewAdv()">POST ADD</button> 
    <button class="btn btn-primary" (click)=gohome()>CANCEL ADD</button> 
</form>              

</div>